.addNotes input{
    height: 3rem;
    width: 61%;
    font-size: 22px;
    margin-bottom: 25px;
    border: 0;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-left: 20px;
}

.addNotes select{
    border: 0;
    padding: 0;
    height: 3rem;
    line-height: 3rem;
    margin-left: 20px;
    }

.formBtn{
    width: 4rem;
    line-height: 3rem;
    font-size: large;
    border: 0;
    padding: 0;
    margin-left: 20px;
}
.formBtn:hover{
    background-color: #333;
    color: #fff;
    width: 5rem;
    height: 4rem;
    border-radius: 10px;
}