
.High{
background-color: rgb(255, 0, 0);
}
.Medium{
background-color: rgb(0, 128, 0);
}
.Low{
background-color: rgb(0, 0, 255);
}
.right-corner{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0px 30px;
}